nav {
    position: sticky;
    width: 100%;
    height: 72px;
    z-index: 1;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav img {
    object-fit: contain;
    width: max-content;
}

input[type=text]::placeholder {
    text-align: center;
}


.icon {
    z-index: 5;
    color: grey;
    display: block;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.left-addon {
    width: 25%;
}

@media screen and (max-width: 1300px) {
    nav {
        font-size: 0.85em;
    }

    .left-addon {
        width: 15%;
    }

    #dropdown-basic {
        font-size: 0.98em;
    }

}

@media screen and (max-width: 1300px) {
    nav {
        display: none;
    }
}