img {
    width: 100%;
    object-fit: contain;
}

#headings {
    padding: 10px 2px;
    height: 150vh;
    margin: auto;
    width: 70vw;
    position: sticky;
    top: 71px;
}


#Banner {
    transition: all 200ms;
    filter: brightness(80%);
    width: 100%;
    color: white;
    height: 440px;
    display: flex;
    padding: 80px 15%;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('../../assets/rect03.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#headings>div {
    display: flex;
    justify-content: space-between;
}

@media all and (max-width:1200px) {
    #Banner {
        background-image: url('../../assets/rect03_mobile.png');
    }

    #headings {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}