img {
    width: 100%;
    object-fit: contain;
}

#headings {
    padding: 10px 2px;
    height: 150vh;
    margin: auto;
    width: 70vw;
    position: sticky;
    top: 71px;
}

#arrow-icon {
    display: none;
}

#note {
    position: absolute;
    right: 0;

}

.note {
    width: 100%;
    outline: none;
    border-style: none;
    border-bottom: 2px solid #000;
    padding: 2px 25px;
    margin-bottom: 25px;
}

#Banner {
    transition: all 200ms;
    filter: brightness(80%);
    position: sticky;
    width: 100%;
    color: white;
    height: 440px;
    display: flex;
    padding: 80px 15%;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../../assets/rect03.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#headings>div {
    display: flex;
    justify-content: space-between;
}

#join {
    display: none;
}

#podcast_container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 1000px) {
    #Banner {
        background-image: url("../../assets/rect03_mobile.png");
    }

    #headings {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.text-muted {
    margin-right: 15px;
    text-decoration: none;
}

#mobile-navs {
    display: none !important;
}

@media screen and (max-width: 768px) {
    #Banner {
        background-image: url("../../assets/rect03_mobile.png");
        height: 100%;
    }

    #mobile_view_notes {
        display: none;
    }

    #texts-head {
        position: relative;
        top: 60px;
        right: 30px;
    }

    h1 {
        font-size: 1.5em;
    }

    #desk-navs {
        display: none !important;
    }

    #arrow-icon {
        display: block;
    }

    #mobile-navs {
        width: 100%;
        margin: -35px 0;
        padding: 0px 18px;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
    }

    #mobile-navs>div {
        font-weight: bold;
        font-size: 1.2em;
    }

    #arrow-icon {
        display: block;
        font-size: 2em;
    }

    #join {
        display: block;
        position: absolute;
        top: 10%;
        background-color: transparent;
        right: 5%;
        border-radius: 5px;
        border: 3px solid white;
        color: white;
        padding: 6px 10px;
    }

    #drp-btn {
        background-color: #eee;
        border: none;
        color: #000;
        font-weight: bold;
    }
}